<nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/welcome">Home Page</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/users">Users</a></li>
            <li class="active"><a href="/functions">Functions</a></li>
            <li class="active"><a href="/events">Events</a></li>
            <li class="active"><a href="/info/amit_az_urlbe_irok_az_jelenik_meg_az_oldalon/es_itt_is">Info</a></li>
          </ul>
        </div>
      </nav>